.Contact{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    font-size: calc(100% + 0.5vw);
    .NFT-Contact{
        .NFT{
            position: absolute;
            left: 0;
            top: 12vh;
            width: 80vw; 
            height: 90vh;
            padding-left: 10%;
            padding-right: 10%;
            margin: 0;
            p{
                font-weight: 320;
                font-size: calc(80% + 0.1vw);
                span{
                    border-bottom: 2px solid rgba(255, 255, 255, 0.427);
                    cursor: pointer; 
                &:hover{
                    border-bottom-color: white;
                }
                }
            }
            .Intro-text{
                text-align:justify;
            }
            a{
                text-decoration: none;
                color: white;
                border-bottom: 2px solid rgba(255, 255, 255, 0.427);
            }
            a:hover{
                border-bottom-color: white;
            }
            a::after{
                content: " "  attr(title);
                text-indent: -100px;
                letter-spacing: -10px;
                opacity: 0;
                transition: letter-spacing 0.6s ease-out, opacity 0.6s ease-out;
            }
            a:hover::after{
                content: ' → ' attr(href);
                letter-spacing: normal;
                opacity: 1;
                text-indent: 0px;
            }
            .Business-Card{
                padding: 0;
                margin: 0;
                margin-top: 2%;
                margin-bottom: 2%;
                width: 100%;
                height: 60%;
                .Scene{
                    height: 100%;
                    width: 100%;
                }
            }
            .Dynamic-Connect{
                align-items: center;
                display: flex;
                justify-content: center;
                button{
                    margin: auto;
                    background-image: linear-gradient(144deg, var(--color-2), var(--color-3) 50%,var(--color-1));
                    border: 0;
                    transition: transform .1s;
                    border-radius: 30px;
                    color: white;
                    display: flex;
                    font-size: 20px;
                    justify-content: center;
                    line-height: 1em;
                    max-width: 100%;
                    min-width: 140px;
                    padding: 2px;
                    text-decoration: none;
                    user-select: none;
                    -webkit-user-select: none;
                    touch-action: manipulation;
                    white-space: nowrap;
                    cursor: pointer;
                    span {
                        background-color: var(--background-color);
                        padding: 12px 22px;
                        border-radius: 30px;
                        width: 100%;
                        height: 100%;
                        transition: 300ms;
                        }
                    &:active{
                        transform: scale(0.9);
                    }
                    &:hover span {
                        background: none;
                    }
                }
            }
        }
        .Contact-Boxes{
            position: absolute;
            right: 0;
            top: 20vh;
            width: 20vw;
            height: 80vh;
            padding: 0;
            margin: 0;
            ul{
                height: 80%;
                list-style-type: none;
                margin: 0;
                padding: 0;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                li{
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    background-color: var(--color-3);
                    height: 18vh;
                    width: 80%;
                    border-radius: 30px;
                    font-size: small;
                    word-wrap: break-word;
                    div{
                        position: relative;
                        display: flex;
                        top: -2vh;
                        left: 40%;
                        width: 20%;
                        height: 35%;
                        border-radius: 10px;
                        background-color: white;
                        margin: 0;
                        img{
                            margin: auto;
                            width: 45%;  
                        }
                    }
                    .Mail{
                        border: 3px solid var(--color-3);
                    }
                    .In{
                        border: 3px solid var(--color-2);
                    }
                    .Phone{
                        border: 3px solid var(--color-1);
                    }
                    a {
                        display: flex;
                        background-color: var(--background-color);
                        color: white;
                        text-decoration: none;
                        width: 78%;
                        min-width: 100px;
                        height: 25%;
                        border-radius: 30px;
                        margin: auto;
                        margin-top: 8%;
                        transition: transform .1s;
                        cursor: pointer;
                        user-select: none;
                        touch-action: none;
                        &:hover{
                            background-color: white;
                            color: var(--background-color);
                        }
                        p{
                            margin: auto;
                            user-select: none;
                            touch-action: none;
                            &:hover{
                                text-decoration: bold;
                            }
                        }
                        &:active{
                            transform: scale(0.95);
                        }
                    }
                    &:first-of-type {
                        background-color: var(--color-2);
                    }
                    &:last-of-type {
                        background-color: var(--color-1);
                    }
                }
            }
        }
    }
    .Goodbye{
        position: absolute;
        bottom: 0;
        left: 0;
        width:100%;
        text-align: center;
        font-size: small;
        font-weight: 200;
    }
}

@media screen and (max-width:980px) {
    .Contact{
        .NFT-Contact{
            display: block;
            p{
                font-size: calc(80% + 0.5vw);
            }
            .NFT{
                position: static;
                padding-top: 13vh;
                width: 100vw; 
                height: 70vh;
                .Business-Card{
                    padding: 0;
                    margin: 0;
                    margin-top: 5%;
                    margin-bottom: 5%;
                    width: 100%;
                    height: 50%;
                }
            }
            .Contact-Boxes{
                position: static;
                display: block;
                width: 100vw;
                height: 25vh;
                padding: 0;
                margin: 0;
                display: flex;
                ul{
                    height: 80%;
                    width: 90%;
                    list-style-type: none;
                    margin: auto;
                    padding: 0;
                    display: flex;
                    flex-direction: row;
                    li{
                        width: 32%;
                        border-radius: 18px;
                        font-size: calc(50% + 0.5vw);
                        p{
                            overflow: hidden;
                        }
                        div{
                            left: 30%;
                            width: 40%;
                            img{
                                max-height: 60%;
                            }
                        }
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}